@charset "utf-8";

.join_container{
    position:relative; left:50%;
    width:500px; padding:50px; margin:50px 0;
    background:#fff;
    border-radius: 10px;
    transform: translateX(-50%);
}
#join_logo {
  position:absolute; left:50%; top:20px;
  transform: translate(-50%);
  font-size:30px;
}
.notice_join{
  margin-top:40px;
}
.notice_join_title{
  position:absolute; left:50%;
  text-align: center;
  height:30px; width:100px;
  transform: translate(-50%);
  background: #fff; z-index:9;
}
.notice_join_content{
  position:relative; top:10px;
  border:1px #333 solid;
  padding:20px; margin-top:20px;
}
.notice_join_content p{
  padding: 0 20px;
}
form{
  margin-top: 80px; 
}
input{
  display: block;
  width: 80%; height: 30px; margin-left:10%;
  margin-top: 15px; border:0; outline:0;
  border-bottom:2px #c8c8c8 solid;
}
#checkPwdText{
  width: 80%; margin-left:10%; margin-top:5px;
  color:red;
}
#join_submit_btn{
  display:inline-block; width:30%; margin:40px 0 0 15%;
  height:35px; border-radius: 10px; cursor: pointer;
}
#join_reset_btn{
  display:inline-block; width:30%; margin:40px 0 0 10%;
  height:35px; border-radius: 10px; cursor: pointer;

}